*.cod
*.lst
*.o
*.diff
.DS_Store
*.o65
*.ips
*.bin
*.map
*.o.d
*.log
*.smc
*.sfc
*~
*.old
*.elf
*.img
autoconf.h
utils/rle
utils/derle
*.bit
*.i
*.s
*.txt
*.csv
*.pdf
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.twx.html
*.unroutes
*.ut
*.xpi
*.xreport
*.xst
*.xrpt
*.ngm
*.xml
*.html
*.zip
*.stratfile
*.xds
*.bgn
*.rle
*.xwbt
*.mrp
*.psr
*.gise
*.exe
*.wdb
*.tcl
*.asy
*.ncf
*.sym
*.vhd
*.veo
*.vho
*.wcfg
*.ini
*.cgp
*.swn
*.swo
*.xcf
*.piklab
*.cof
*.bak
*.bmp
*.png
*.ods
*.xls
*.chi
*.pal
*.ps
*.psd
*.gtl
*.gbl
*.gbs
*.gts
*.gbr
*.gbo
*.gto
*.gbp
*.gtp
*-cache.lib
*.drl
*.000
*.gvp
*.drl
*.cmd
src/utils/genhdr.o
src/utils/genhdr
src/utils/lpcchksum.o
src/utils/lpcchksum
src/bootldr/obj
others/*
verilog/*/ipcore_dir/*/*
verilog/*/_xmsgs/
verilog/*/iseconfig/
verilog/*/xst/
verilog/*/xlnx_auto_0_xdb/
.project
.cproject
src/obj/sd2snes.hex
snes/.settings/org.eclipse.cdt.core.prefs
snes/.settings/org.eclipse.linuxtools.tools.launch.core.prefs
cic/supercic/supercic-key.hex
cic/supercic/supercic-lock.hex
contrib/*
docs/*
verilog/sd2snes_sdd1/ipcore_dir/coregen_lock
verilog/sd2snes_sdd1/ipcore_dir/dac_buf.cgc
firmware.img_sdd1
verilog/sd2snes_sdd1/fuse.xmsgs
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_1242562249.c
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_1242562249.nt64.obj
verilog/sd2snes_sdd1/isim/pn_info
verilog/sd2snes_sdd1/main.grf
*.vdb
verilog/sd2snes_sdd1/isim/Test_Top_SDD1_isim_beh.exe.sim/work/Test_Top_SDD1_isim_beh.exe_main.nt64.obj
verilog/sd2snes_sdd1/isim/Test_Top_SDD1_isim_beh.exe.sim/work/Test_Top_SDD1_isim_beh.exe_main.c
verilog/sd2snes_sdd1/isim/Test_Top_SDD1_isim_beh.exe.sim/work/a_4020228177_3212880686.nt64.obj
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_1242562249.didat
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_2592010699.c
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_3499444699.didat
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_2592010699.didat
*.didat
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_2592010699.nt64.obj
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_3499444699.c
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_3499444699.nt64.obj
verilog/sd2snes_sdd1/isim/Test_Top_SDD1_isim_beh.exe.sim/netId.dat
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_3620187407.c
*.c
verilog/sd2snes_sdd1/isim/Test_Top_SDD1_isim_beh.exe.sim/ISimEngine-DesignHierarchy.dbg
*.obj
verilog/sd2snes_sdd1/isim/Test_Top_SDD1_isim_beh.exe.sim/tmp_save/_1
pcb/kicad/RevF/rescue-backup/fpga-2018-09-05-18-47-11.sch
pcb/kicad/RevF/rescue-backup/mcu-2018-09-05-18-47-11.sch
pcb/kicad/RevF/rescue-backup/memory-2018-09-05-18-47-11.sch
pcb/kicad/RevF/rescue-backup/sd2snes-2018-09-05-18-47-11.pro
pcb/kicad/RevF/rescue-backup/pwr_misc-2018-09-05-18-47-11.sch
pcb/kicad/RevF/rescue-backup/sd2snes-2018-09-05-18-47-11.sch
pcb/kicad/RevF/rescue-backup/snesslot-2018-09-05-18-47-11.sch
verilog/sd2snes_sdd1/isim/Test_Main_isim_beh.exe.sim/ISimEngine-DesignHierarchy.dbg
verilog/sd2snes_sdd1/isim/Test_Main_isim_beh.exe.sim/netId.dat
verilog/sd2snes_sdd1/isim/Test_Main_isim_beh.exe.sim/tmp_save/_1
verilog/sd2snes_sdd1/isim/Test_Main_isim_beh.exe.sim/work/m_00000000004134447467_2073120511.nt64.a
verilog/sd2snes_sdd1/isim/Test_Top_SDD1_isim_beh.exe.sim/netId1.dat
verilog/sd2snes_sdd1/isim/Test_Top_SDD1_isim_beh.exe.sim/ISimEngine-DesignHierarchy1.dbg
verilog/sd2snes_sdd1/main_cs.blc
verilog/sd2snes_trick/fuse.xmsgs
verilog/sd2snes_trick/isim/pn_info
verilog/sd2snes_trick/isim/Test_Top_SDD1_isim_beh.exe.sim/ISimEngine-DesignHierarchy.dbg
verilog/sd2snes_trick/isim/Test_Top_SDD1_isim_beh.exe.sim/netId.dat
verilog/sd2snes_trick/isim/Test_Top_SDD1_isim_beh.exe.sim/tmp_save/_1
verilog/sd2snes_trick/main.grf
verilog/sd2snes_trick/main_cs.blc
VID_20180907_111718_852.mp4
VID_20180907_111945_329.mp4
verilog/sd2snes_sdd1/_ngo/cs_icon_pro/coregen.cgc
verilog/sd2snes_sdd1/_ngo/cs_icon_pro/generate_icon_pro.xco
verilog/sd2snes_sdd1/_ngo/cs_icon_pro/icon_pro.ucf
verilog/sd2snes_sdd1/_ngo/cs_icon_pro/icon_pro.xco
verilog/sd2snes_sdd1/_ngo/cs_icon_pro/icon_pro.xise
verilog/sd2snes_sdd1/_ngo/cs_icon_pro/tmp/_xmsgs/pn_parser.xmsgs
verilog/sd2snes_sdd1/_ngo/cs_icon_pro/_xmsgs/xst.xmsgs
verilog/sd2snes_sdd1/_ngo/cs_ila_pro_0/coregen.cgc
verilog/sd2snes_sdd1/_ngo/cs_ila_pro_0/generate_ila_pro_0.xco
verilog/sd2snes_sdd1/_ngo/cs_ila_pro_0/ila_pro_0.cdc
verilog/sd2snes_sdd1/_ngo/cs_ila_pro_0/ila_pro_0.ucf
verilog/sd2snes_sdd1/_ngo/cs_ila_pro_0/ila_pro_0.xco
verilog/sd2snes_sdd1/_ngo/cs_ila_pro_0/ila_pro_0.xise
verilog/sd2snes_sdd1/_ngo/cs_ila_pro_0/tmp/_xmsgs/pn_parser.xmsgs
verilog/sd2snes_sdd1/_ngo/cs_ila_pro_0/_xmsgs/xst.xmsgs
verilog/sd2snes_sdd1/_ngo/main_cs_signalbrowser.ngo
verilog/sd2snes_sdd1/_ngo/main_cs_signalbrowser.ver
verilog/sd2snes_trick/_ngo/cs_icon_pro/coregen.cgc
verilog/sd2snes_trick/_ngo/cs_icon_pro/generate_icon_pro.xco
verilog/sd2snes_trick/_ngo/cs_icon_pro/icon_pro.ucf
verilog/sd2snes_trick/_ngo/cs_icon_pro/icon_pro.xco
verilog/sd2snes_trick/_ngo/cs_icon_pro/icon_pro.xise
verilog/sd2snes_trick/_ngo/cs_icon_pro/tmp/_xmsgs/pn_parser.xmsgs
verilog/sd2snes_trick/_ngo/cs_icon_pro/_xmsgs/xst.xmsgs
verilog/sd2snes_trick/_ngo/cs_ila_pro_0/coregen.cgc
verilog/sd2snes_trick/_ngo/cs_ila_pro_0/generate_ila_pro_0.xco
verilog/sd2snes_trick/_ngo/cs_ila_pro_0/ila_pro_0.cdc
verilog/sd2snes_trick/_ngo/cs_ila_pro_0/ila_pro_0.ucf
verilog/sd2snes_trick/_ngo/cs_ila_pro_0/ila_pro_0.xco
verilog/sd2snes_trick/_ngo/cs_ila_pro_0/ila_pro_0.xise
verilog/sd2snes_trick/_ngo/cs_ila_pro_0/tmp/_xmsgs/pn_parser.xmsgs
verilog/sd2snes_trick/_ngo/cs_ila_pro_0/_xmsgs/xst.xmsgs
verilog/sd2snes_trick/_ngo/main_cs_signalbrowser.ngo
verilog/sd2snes_trick/_ngo/main_cs_signalbrowser.ver
Reset_Vector.jpg
RSaga3_esp.srm
SNES_Memory_Map.jpg
verilog/sd2snes_sdd1/main_SRAM.cpj
SD2SNES_Buses.jpg
MCU_HIT.jpg
verilog/sd2snes_sdd1/main_top.cpj
verilog/sd2snes_sdd1/sdd1_im.cpj
Bar_WRAM.jpg
VID_20180923_135615_702.mp4
VID_20180924_230335_657.mp4
