*.cod
*.lst
*.o
*.diff
.DS_Store
*.o65
*.ips
*.bin
*.map
*.o.d
*.log
*.smc
*.sfc
*~
*.old
*.elf
*.img
autoconf.h
utils/rle
utils/derle
*.bit
*.i
*.s
*.txt
*.csv
*.pdf
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.twx.html
*.unroutes
*.ut
*.xpi
*.xreport
*.xst
*.xrpt
*.ngm
*.xml
*.html
*.zip
*.stratfile
*.xds
*.bgn
*.rle
*.xwbt
*.mrp
*.psr
*.gise
*.exe
*.wdb
*.tcl
*.asy
*.ncf
*.sym
*.vhd
*.veo
*.vho
*.wcfg
*.ini
*.cgp
*.swn
*.swo
*.xcf
*.piklab
*.cof
*.bak
*.bmp
*.png
*.ods
*.xls
*.chi
*.pal
*.ps
*.psd
*.gtl
*.gbl
*.gbs
*.gts
*.gbr
*.gbo
*.gto
*.gbp
*.gtp
*-cache.lib
*.drl
*.000
*.gvp
*.drl
*.cmd
src/utils/genhdr.o
src/utils/genhdr
src/utils/lpcchksum.o
src/utils/lpcchksum
src/bootldr/obj
others/*
verilog/*/ipcore_dir/*/*
verilog/*/_xmsgs/
verilog/*/iseconfig/
verilog/*/xst/
verilog/*/xlnx_auto_0_xdb/
.project
.cproject
src/obj/sd2snes.hex
snes/.settings/org.eclipse.cdt.core.prefs
snes/.settings/org.eclipse.linuxtools.tools.launch.core.prefs
cic/supercic/supercic-key.hex
cic/supercic/supercic-lock.hex
contrib/*
docs/*
verilog/sd2snes_sdd1/ipcore_dir/coregen_lock
verilog/sd2snes_sdd1/ipcore_dir/dac_buf.cgc
firmware.img_sdd1
verilog/sd2snes_sdd1/fuse.xmsgs
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_1242562249.c
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_1242562249.nt64.obj
verilog/sd2snes_sdd1/isim/pn_info
verilog/sd2snes_sdd1/main.grf
*.vdb
verilog/sd2snes_sdd1/isim/Test_Top_SDD1_isim_beh.exe.sim/work/Test_Top_SDD1_isim_beh.exe_main.nt64.obj
verilog/sd2snes_sdd1/isim/Test_Top_SDD1_isim_beh.exe.sim/work/Test_Top_SDD1_isim_beh.exe_main.c
verilog/sd2snes_sdd1/isim/Test_Top_SDD1_isim_beh.exe.sim/work/a_4020228177_3212880686.nt64.obj
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_1242562249.didat
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_2592010699.c
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_3499444699.didat
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_2592010699.didat
*.didat
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_2592010699.nt64.obj
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_3499444699.c
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_3499444699.nt64.obj
verilog/sd2snes_sdd1/isim/Test_Top_SDD1_isim_beh.exe.sim/netId.dat
verilog/sd2snes_sdd1/isim/precompiled.exe.sim/ieee/p_3620187407.c
*.c
verilog/sd2snes_sdd1/isim/Test_Top_SDD1_isim_beh.exe.sim/ISimEngine-DesignHierarchy.dbg
*.obj
verilog/sd2snes_sdd1/isim/Test_Top_SDD1_isim_beh.exe.sim/tmp_save/_1